<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/inventory"><i class="glyphicon glyphicon-th-large"></i> inventory List </a>
        <a ng-show="inventory._id" class= "navbar-brand" href= "#/edit-inventory/0"><i class="glyphicon glyphicon-plus"></i> Create inventory </a>
        <a ng-show="inventory._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing inventory Number: {{inventory._id}}</a>
        </div>
        </nav>
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
    <label class= "col-md-2"> Name </label>
    <div class="col-md-4">
    <input name="name" ng-model="inventory.itemName" type= "text" class= "form-control" placeholder="Item Name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Item Name Required</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"> Serial Number  </label>
    <div class="col-md-4">
    <input name="serial.Number" ng-model="inventory.serial.Number" type= "serial.Number" class= "form-control" placeholder="Serial Number" required/>
    <span ng-show="myForm.serial.Number.$dirty && myForm.serial.Number.$invalid && !myForm.serial.Number.$error.serial.Number" class="help-inline">serial.Number Required</span>
    <span ng-show="myForm.serial.Number.$error.serial.Number" class="help-inline">serial.Number is not valid</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Type </label>
    <div class="col-md-4">
    <select ng-model="inventory.type" type= "text" class= "form-control" placeholder= "Type">
      <option value="DVD Player">DVD Player</option>
      <option value="Desktop">Desktop</option>
      <option value="Laptop">Laptop</option>
      <option value="Television">Television</option>
    </select>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Room </label>
    <div class="col-md-4">
    <input ng-model="inventory.room" type= "text" class= "form-control" placeholder= "Room"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">City </label>
    <div class="col-md-4">
    <select ng-model="inventory.city" type= "text" class= "form-control" placeholder= "City">
      <option value="Kansas City">Kansas City</option>
      <option value="Topeka">Topeka</option>
      <option value="Wichita">Wichita</option>
    </select>
{{ model }}
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button ng-click="saveinventory(inventory);"
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteinventory(inventory)"
                ng-show="inventory._id" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
